html {
    height: 100%;
}
body {
    font-family: sans-serif;
    background-color: #fff;
    height: 100%;
    margin: 0;
}
.App {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
